#root {
  background-color: #111;   /* 전체 배경 다크 */
  min-height: 100vh;        /* 화면 가득 채우기 */
}
/* 전체 레이아웃 세팅 */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.app-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* 메인 영역이 남는 공간을 차지하게 */
.main-content {
  flex: 1;
}
